.intro__list{
    padding: 0;
    margin-top: 32px;
    margin-bottom: 0;
    max-width: 690px;
    height: min-content;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px; 
    list-style: none;
}