.header__link-container{
  display: flex;
  justify-content: space-between;
  width: 77px;
  height: min-content;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  }

  @media screen and (max-width: 400px) {
    .header__link-container{
      width: 60px;
      }
    }