@font-face {
    font-family: 'Inter';
    font-weight: normal;
    src: url("../../vendor/Inter_Web/Inter-Regular.woff") format("woff");
    src: url("../../vendor/Inter_Web/Inter-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: 'Inter';
    font-weight: bold;
    src: url("../../vendor/Inter_Web/Inter-Bold.woff") format("woff");
    src: url("../../vendor/Inter_Web/Inter-Bold.woff2") format("woff2");
  }
