.place__link{
    align-self: end;
    max-width: 456px;
    height: min-content;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding-bottom: 4.87%;
  }

  @media screen and (max-width: 740px) {
    .place__link{
      display: none;
    }}