.cover__title{
    margin: auto;
    max-width: 560px;
    height: min-content;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFDFD;
    z-index: 1;
    position: relative;
    pointer-events: none;
  }

  @media screen and (max-width: 740px) {
    .cover__title{
      font-size: 32px;
      font-weight: 800;
      line-height: 109%;
      font-style: normal;
      max-width: 80%;
      height: min-content;
    }}